.container{
    background-color: #f7f8fa;
    height: auto;
    padding: 30px 0;

    .card{
        .content{
            padding: 20px 0;
            
            button{
                padding: 5px 10px;
                background-color: #2e56e5;
                color: white;
                border: none;
                border-radius: 5px;
            }

            input{
                padding: 5px 10px;
                border: 1px solid #d8d9db;
            }
        }

    }
}

.box{
    background-color: white;
    border: 3px solid red;
    width: 50%;
    margin: 0 auto;
}

@media screen and (max-width:576px){
    
    .container{

        padding: 0;

        .card{

            padding: 10px 30px;

            h3{
                font-size: 1rem;
            }
        }
    }

    p{
        font-size: 0.8rem;
    }
    
    button{
        font-size: 0.6rem;
    }
}