<div class="container">
    <!-- Interpolation Binding  -->
    <section class="card">
        <h3> Interpolation </h3>
        <div class="content">
            <p> My Name is {{ fname }} </p>
            <p> I am {{ age }} Years Old </p>
        </div>
    </section>

    <!-- Property Binding  -->
    <section class="card">
        <h3> Property Binding </h3>
        <p style="color: green;" > This text is green </p>
    </section>
    
    <!-- Event Binding  -->
    <section class="card">
        <h3> Event Binding </h3>
        <div class="content">
            <button (click)="eventbind()" > Click Me </button>
        </div>
    </section>


    <!-- Two Way Binding -->
    <section class="card">
        <h3> Two Way binding </h3>
        <div class="content">
            <input type="text" placeholder="Enter Anything" [(ngModel)] = 'data' >
            <p> {{ data }} </p>
        </div>
    </section>
</div> 

