:host{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    border: 3px solid white;
    border-radius: 3px;
    padding: 20px;
}

button{
    background-color: aquamarine;
    color: black;
    border-radius: 3px;
    padding: 5px 10px;
    border: none;
    font-weight: 600;
}