<section>
    <!-- If Statement  -->
    <article>
        <h2> ngIf </h2>
        <label for="question"> Choose true or false for IF Statement:- </label>
        <p>
            <label for="true"> True </label>
            <input type="radio" id="true" value="true" name="question" (click)="showtrue()">
            <label for="false"> False </label>
            <input type="radio" id="false" value="false" name="question" (click)="showfalse()">
        </p>
        <p *ngIf="truedata; else elsedata"> Show this if true</p>
        <ng-template #elsedata> This is else data</ng-template>
    </article>
    <article>
        <h2 appBgcolor>Custom Directive</h2>
    </article>
    <article>
        <h2>Data & Time (Live)</h2>
        <p>Date :- {{date | date:'dd/MM/YYYY'}}</p>
        <p>Time :- {{date | date:'hh:mm:ss'}}</p>
    </article>
    <article>
        <app-table-currency></app-table-currency>
    </article>
    <article>
        <app-table-user></app-table-user>
    </article>
</section>