<section>
    <!-- If Statement  -->
    <article>
        <h2> ngIf </h2>
        <label for="question"> Choose true or false for IF Statement:- </label>
        <p>
            <label for="true"> True </label>
            <input type="radio" id="true" [value]="showMsg" name="question" (change)="showtrue()">
            <label for="false"> False </label>
            <input type="radio" id="false" [value]="!showMsg" name="question" (change)="showtrue()">
        </p>
       <!--  <p>
            <label for="true2"> True </label>
            <input type="radio" id="true2" [value]="true" name="question" [(ngModel)]='displaytrue'>
            <label for="false2"> False </label>
            <input type="radio" id="false2" [value]="false" name="question" [(ngModel)]='displayfalse'>
        </p> -->
        <!-- <p></p>
        <p *ngIf="displaytrue; else elsedata"> Show this if true</p>
        <ng-template #elsedata> This is else data</ng-template> -->
            {{showMsg}}
    </article>
    <article>
        <h2 appBgcolor>Custom Directive</h2>
    </article>
    <article>
        <h2>Data & Time (Live)</h2>
        <p>Date :- {{date | date:'dd/MM/YYYY'}}</p>
        <p>Time :- {{date | date:'hh:mm:ss'}}</p>
        <p> {{'jay' | titleuppercase}}</p>
    </article>
    <article>
        <app-table-currency></app-table-currency>
    </article>
    <article>
        <app-table-user></app-table-user>
    </article>
</section>