section{
    padding: 20px 70px;
    background-color: #212121;
    color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* flex-grow: 1; */
}

article{
    height: auto;
    background-color: #353434;
    padding: 20px 50px;
    border-radius: 20px;
    margin: 20px 0;
    box-shadow: 10px 10px 20px black;
}

h2{
    margin-bottom: 20px;
    color: aqua;
}
