/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&family=Playfair+Display&family=Poppins&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

html, body{
    height: 100%;
}

.d-flex{
    display: flex;
}

.j-center{
    justify-content: center;
}

.a-items{
    align-items: center;
}

.j-between{
    justify-content: space-between;
}

.flex-direction-column{
    flex-direction: column;
}

.flex-direction-row{
    flex-direction: row;
}

.wrapper{
    .side{
        label{
            position: relative;
            .bx{
                color: #2e56e5;
                font-size: 2.25rem;
                left: 10px;
                top: 10px;
                position: absolute;
                z-index: 1;
            }
        }

        
    }
    #bar{
        display: none;
    }
    #bar:checked ~ .side{
       flex: 0 0 56px;
    }

    #bar:checked ~ .side h1{
        // transition: 0.1s all;
        opacity: 0;
    }

    #bar:checked ~ .side ul li a span{
        opacity: 0;
        // transition: 0.4s all;
    }
}

.container{
    height: 100%;
}

input.ng-touched.ng-invalid{
    border: 1px solid red;
}
