/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&family=Playfair+Display&family=Poppins&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

$bgcontainer : #f7f8fa;
$primary-color : #2e56e5;

html, body{
    height: 100%;
}

.d-flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.justify-content-between{
    justify-content: space-between;
}

.flex-column{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

.flex-grow{
    flex-grow: 1;
}

#bar{
    display: none;
}

#bar:checked ~ .side{
    flex: 0 0 54px;
}

#bar:checked ~ .side aside nav  li a span{
    transform: translateX(100px);
}
#bar:checked ~ .side aside h1{
    transform: translateX(100px);
}

.card{
    border: 1px solid #d8d9db;
    width: 80%;
    margin: 50px auto;
    background-color: white;
    padding: 20px 50px;
    border-radius: 5px;
    border-bottom: 3px solid $primary-color;
}
// Media Queries 

@media screen and (max-width:768px){

    .side{
        position: absolute;
        border: 3px solid red;
        left: -250px;
        background-color: white;
        width: 250px;
        height: 100%;
        z-index: 99;
    }

    #bar:checked ~ .side{
        left: 0;
    }

    #bar:checked ~ .side aside nav  li a span{
        transform: translateX(0);
    }

    #bar:checked ~ .side aside h1{
        transform: translateX(0);
    }

    #bar:checked ~ .outlet{
        filter: blur(6px);
    }
}

