:host{
    display: flex;
    flex: 0 0 80px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    flex-grow: 1;
    background-color: #212121;
}

h2{
    color: aqua;
}

ul{
    display: flex;
    list-style: none;
}

ul li{
    margin: 0 20px;
}

ul li a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 0 5px;
    border-radius: 5px;
}

.active{
    border-bottom: 2px solid white;
}