aside{
    display: flex;
    flex-direction: column;
    flex: 0 0 200px;
    background-color: #414141;
    padding: 30px;
    height: 100%;
    text-align: right;
    color: white;
}

.menu{
    list-style: none;
}

.items{
    margin: 30px 0;
}

a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.25rem;
}

h2{
    font-size: 1.75rem;
    padding-bottom: 60px;
}