nav{
    flex: 0 0 60px;
    background-color: white;
    padding: 0 80px;
    border-bottom: 1px solid #d8d9db;
    
    h2{
        color: #2e56e5;
        font-size: 1.25rem;
    }
    
    .menu{
        list-style: none;
        
        .nav-items{

            .nav-links{
                text-decoration: none;
                margin: 0 20px;
                color: black;
                padding: 3px 10px;
                border-radius: 3px;
                
                &.active{
                    background-color: #eaedfc;
                    color: #2e56e5;
                    border: 1px solid #2e56e5;
                }
            }
            
        }
    }
}

.outlet{
    overflow: auto;
}

.container{
    height: 100%;
}

input{
    display: none;
}

.drop-down{
    position: absolute;
    background-color: #2e56e5;
    top: -300px;
    right: 10px;
    list-style: none;
    padding: 20px 30px;
    transition: 0.4s all;

    li{
        text-align: center;
        margin: 5px 0;
        a{
            text-decoration: none;
            color: white;
            font-weight: 600;
            font-size: 0.8rem;
        }
    }
}



@media screen and (max-width:567px){

    nav{
        padding: 0 60px;
        flex: 0 0 50px;
        
        h2{
            font-size: 1rem;
        }
        
        .menu{ 
            display: none;
        }
    }

    label{
        font-size: 1.75rem;
        color: #2e56e5;
    }

    #bind-menu:checked ~ .drop-down{
        top: 50px;
    }
}