<div class="main">
    <form [formGroup]="resumeadd">
        <h2> Resume Form </h2>
        <section>
            <h3>Personal Details :-</h3>
            <div class="space">
                <label for="fname"> Full Name </label>
                <p>
                    <input type="text" name="fname" id="fname" formControlName="firstname" autocomplete>
                    <span *ngIf="firstname && firstname.touched && firstname.invalid"> This field is invalid</span>
                </p>
            </div>
            <div class="space">
                <label for="position"> Occupation </label>
                <p>
                    <input type="text" name="position" id="position" formControlName="position">
                    <span *ngIf="position && position.touched && position.invalid"> This field is invalid</span>
                </p>
            </div>
            <div class="space">
                <label for="mail"> Email </label>
                <p>
                    <input type="text" name="mail" id="mail" formControlName="elemail">
                    <span *ngIf="elemail && elemail.touched && elemail.invalid"> This field is invalid</span>
                </p>
            </div>
            <div class="space">
                <label for="num"> Phone Number </label>
                <p>
                    <input type="text" name="num" id="num" formControlName="phone">
                    <span *ngIf="phone && phone.touched && phone.invalid"> This field is invalid</span>
                </p>
            </div>
        </section>


        <section>
            <h3>Technical Skills</h3>
            <p class="d-flex justify-content-between a-items">
                <b>Skills</b>
                <button  class="add" (click)="addfield()"> Add </button>
            </p>
            <div class="outer d-flex flex-column">
                <div class="array d-flex justify-content-between" formArrayName='technical'
                    *ngFor="let m of this.formarr('technical').controls; let i = index;">
                    <small [formGroupName]="i" style="width: 100%;">
                        <input type="text" formControlName="tech">
                        <button (click)="removefield(i)"> Remove </button>
                        <span *ngIf="tech && tech.touched && tech.invalid"> This field is invalid</span>
                    </small>

                </div>
            </div>
        </section>


        <section>
            <div class="d-flex a-items justify-content-between">
                <h3>Experience</h3>
                <p>
                    <button (click)="addexgroup()" class="add"> Add </button>
                </p>
            </div>
            <b>Experience :-</b>
            <div class="outer d-flex flex-column">
                <div class="array d-flex flex-column" formArrayName='experience'
                    *ngFor="let ex of this.formarr('experience').controls; let i = index">
                    <div [formGroupName]="i">
                        <div class="space">
                            <label for="companyid"> Company Name  </label>
                            <div>
                                <p>
                                    <input type="text" name="companyid" id="companyid" formControlName="company">
                                    <span *ngIf="company && company.touched && company.invalid"> This field is
                                        invalid</span>
                                </p>
                            </div>
                        </div>
                        <div class="space">
                            <label for="role"> Company Role  </label>
                            <p>
                                <input type="text" name="role" id="role" formControlName="role">
                                <span *ngIf="role && role.touched && role.invalid"> This field is invalid</span>
                            </p>
                        </div>
                        <div class="space">
                            <label for="startyear"> Start Year  </label>
                            <p>
                                <input type="text" name="startyear" id="startyear" formControlName="startyear">
                                <span *ngIf="startyear && startyear.touched && startyear.invalid"> This field is
                                    invalid</span>
                                <!-- <span *ngIf="experience.controls[i].get('startyear')">This is invalid</span> -->
                            </p>
                        </div>
                        <div class="space">
                            <label for="endyear"> End Year  </label>
                            <p>
                                <input type="text" name="endyear" id="endyear" formControlName="endyear">
                                <span *ngIf="endyear && endyear.touched && endyear.invalid"> This field is
                                    invalid</span>
                            </p>
                        </div>
                        <p>
                            <button (click)="removeexgroup(i)">Delete</button>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="d-flex justify-content-between a-items">
                <h3>Education</h3>
                <p>
                    <button (click)="addedu()" class="add"> Add </button>
                </p>
            </div>
            <div class="outer d-flex flex-column">
                <div class="array d-flex flex-column" formArrayName='education'
                    *ngFor="let ex of this.formarr('education').controls; let i = index">
                    <div [formGroupName]="i">
                        <div class="space">
                            <label for="school"> Institue Name  </label>
                            <div>
                                <p>
                                    <input type="text" name="school" id="school" formControlName="school">
                                    <span *ngIf="school && school.touched && school.invalid"> This field is
                                        invalid</span>
                                </p>
                            </div>
                        </div>
                        <div class="space">
                            <label for="gpa"> GPA  </label>
                            <p>
                                <input type="number" name="gpa" id="gpa" formControlName="gpa">
                                <span *ngIf="gpa && gpa.touched && gpa.invalid"> This field is invalid</span>
                            </p>
                        </div>
                        <p>
                            <button (click)="removeedu(i)">Delete</button>
                        </p>
                    </div>
                </div>
            </div>
            
        </section>


        <div class="space">
            <button (click)="savedata()" [disabled]="!resumeadd.valid">Submit</button>
        </div>

    </form>
</div>
