.main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #f7f8fa;
}

form{
    width: 50%;
    margin: 30px auto;
    background-color: white;
    padding: 30px 5%;
    border: 1px solid #d8d9db;

    h2{
        color: #2e56e5;
        text-align: center;
    }

    section{
        padding: 20px 5%;
        
        h3{
            // border: 1px solid red;
            display: flex;
            padding: 10px 0;
        }

        .space{
            display: flex;
            flex-direction: column;
            padding: 20px 0;
            

            label{

            }

            p{

               
            }
        }
    }
}

.array{
    margin: 10px 0;
}

input{
    padding: 5px 10px;
    margin: 5px 0;
    width: 100%;
    border: 1px solid #b8b9bd;
}

span{
    color: red;
}

input.ng-touched.ng-invalid{
    border: 1px solid red;
}

input[type=text]:focus{
    background-color: #eaedfc;
}

button{
    background-color: #2e56e5;
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 3px;
}
.add{
    background-color: #ff3300;
}

@media screen and (max-width:768px){
    form{
        width: 70%;
    }
}

@media screen and (max-width: 567px){
    form{
        width: 80%;

        h2{
            font-size: 1.25rem;
        }

        section{
            h3{
                font-size: 1rem;
            }

            .space{
                label{
                    font-size: 0.8rem;
                }
            }
        }
    }
}