<section>
    <h3> Interpolation</h3>
    <p>
        My Name is {{ fname }}. <br>
        I am {{ age }} years old.
    </p>
</section>

<section>
    <h3> Property Binding</h3>
</section>

<section>
    <h3>Event Binding</h3>
    <p>
        <button (click)="setvalue()"> Click Me </button>
    </p>
</section>

<section>
    <h3> Two - Way Binding</h3>
    <p>
        <label for="enter"> Enter Something :- </label>
        <input type="text" name="enter" id="enter" [(ngModel)] = 'model'>
    </p>
    <p>
        Jadu :-  {{ model }}
    </p>
</section>

<section>
    <h3> Parent-Child Communication</h3>
    <p> {{ parentshow }} </p>
    <app-data-child (childdata) = "parentdata($event)" ></app-data-child>
</section>

<section>
    <p>  </p>
</section>