/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

body,html{
    height: 100%;
    overflow: hidden;
}
