nav{
    background-color: #83fc12;
    height: 80px;
    width: auto;
    padding: 0px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: black;
    font-size: 1.7rem;
    font-weight: 600;
}

.menu{
    display: flex;
    align-items: center;
}

.items{
    margin: 0px 50px;
    list-style: none;
}

.links{

    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    color: black;
}