:host{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 30px 5%;
    background-color: #f7f8fa;
    overflow: auto;
}

h2{
    letter-spacing: 1px;
}

p{
    // border: 1px solid red;
    margin: 30px 0;
}

button{
    border: none;
    background-color: #2e56e5;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 2px 2px 3px #2e56e5;
}

.searchlist{
    border: 1px solid #e3e4e6;
    border-radius: 10px;
    padding: 0 10px;
    width: 15%;
}

.bx{
    padding: 0 5px;
    color: #b8b9bd;
    transform: scale(1.2,1.2);
}

table{
    border: 1px solid #f0f2f5;
    border-radius: 10px;
    background-color: white;
    border-collapse: collapse;
}

th{
    border-bottom: 1px solid #f0f2f5;
    color: #b8b9bd;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    font-size: 0.8rem;
    font-weight: 400;
}

td{
    border-bottom: 1px solid #f0f2f5;
    padding: 10px;
}