<div class="container">


    <h2> Lists </h2>

    <p class="d-flex justify-content-between">
        <input type="search" class="searchlist" placeholder="Search for a user">
        <button routerLink="/employee/form">+ Add new user</button>
    </p>

    <table>
        <thead>
            <tr>
                <th> # </th>
                <th> First Name </th>
                <th> Last Name </th>
                <th> Phone Number </th>
                <th> Email </th>
                <!-- <th> Age </th>
                <th> Gender </th>
                <th> Date of Birth </th> -->
                <th> Department </th>
                <th> Action </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let m of listdata, let i = index">
                <td> {{ i + 1}} </td>
                <td> {{m.firstname}} </td>
                <td> {{m.lastname}} </td>
                <td> {{m.phone}} </td>
                <td> {{m.elemail}} </td>
                <!-- <td> {{m.umer}} </td>
                <td> {{m.gen}} </td>
                <td> {{m.birth}} </td> -->
                <td> {{m.depart | idFilter:departfilter}} </td>
                <td><i routerLink="../edit/{{m.id}}" class='bx bxs-edit-alt'></i><i (click)="deletedata(m.id)"
                        class='bx bxs-trash'></i></td>
            </tr>
        </tbody>
    </table>


</div>