.container{
    height: 100%;
    padding: 30px 5%;
    background-color: #f7f8fa;
    overflow: auto;
}

h2{
    letter-spacing: 1px;
}

p{
    margin: 30px 0;
}

button{
    border: none;
    background-color: #2e56e5;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
}

.searchlist{
    border: 1px solid #e3e4e6;
    border-radius: 10px;
    padding: 0 10px;
    width: 15%;
}

.bx{
    padding: 0 5px;
    color: #b8b9bd;
    transform: scale(1.2,1.2);
    cursor: pointer;
}

table{
    border: 1px solid #f0f2f5;
    overflow-x: scroll;
    border-radius: 10px;
    width: 100%;
    background-color: white;
    // border-collapse: collapse;
}

tr{
    border: 1px solid black;
}

th{
    border-bottom: 1px solid #f0f2f5;
    color: #b8b9bd;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    font-size: 0.8rem;
    font-weight: 400;
    border: none;
}

td{
    border-bottom: 1px solid #f0f2f5;
    padding: 10px;
    font-size: 0.9rem;
}



@media screen and (max-width:768px){

    .container{
        padding-top: 50px;
    }


    .searchlist{
        width: 25%;
    }
}

@media screen and (max-width:576px){

    table{
        width: 90%;
        overflow: auto;
    }

    th{
        font-size: 0.6rem;
    }

    td{
        font-size: 0.6rem;
    }

    button{
        font-size: 0.6rem;
    }

    .searchlist{
        width: 40%;
    }

    .lists{
        overflow-x: scroll;
    }
}