:host{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 60px;
    background-color: #212121;
}

p{
    padding: 30px;
    text-align: right;

}
button{
    border: none;
    background-color: #ffbb00;
    color: black;
    border-radius: 3px;
    padding: 5px 10px;
    font-weight: 600;
}

.bx{
    padding: 0 5px;
    color: #ffbb00;
    transform: scale(1.2,1.2);
}

table,td,th{
    border-collapse: collapse;
    padding: 5px 20px;
    border: 1px solid #ffbb00;
    text-align: center;
    color: white;
    cursor: pointer;
}

th{
    background-color: #ffbb00;
    color: black;
}

table{
    width: 90%;
    margin: 0 auto;
}