:host{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}

section{
    padding: 30px 70px;
    /* background-color: #212121; */
    color: black;
}

h1 {
    margin-left: 300px;
}

table,
tr,
td,
th {
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
    text-align: center;
}

.mark {
    width: 500px;
    margin: auto;
    overflow: auto;
    border: 3px solid black;
}