.wrapper{
    height: 100%;
    border: 2px solid black;

    .side{
        flex: 0 0 250px;
        transition: 0.4s all;
        overflow: auto;
    }

    .outlet{
        flex-grow: 1;
        overflow: auto;
    }
}

