.wrapper{
    height: 100%;
    position: relative;

    label{
        cursor: pointer;
        position: absolute;
        z-index: 999;
        color: #2e56e5;
        font-size: 2.25rem;
        left: 13px;
    }
    .side{
        flex: 0 0 250px;
        transition: 0.6s all;
        overflow: hidden;
        border: 1px solid #d8d9db;
    }


    .outlet{
        flex-grow: 1;
        background-color: #f7f8fa;
        overflow: auto;
    }
}

@media screen and (max-width:480px){

    .wrapper{

        label{
            font-size: 2rem;
            top: 10px;
            left: 15px;
        }
    }

}

