:host{
    display: flex;
    flex-direction: column;
    flex: 0 0 250px;
    background-color: #c7e7fd;
}

.menu{
    margin: 50px 0;
    padding: 50px 0;
    list-style: none;
    
    .items{
        margin: 30px 0;
        
        .links{
            font-weight: 600;
            color: #0064d2;
            text-decoration: none;
            width: 100%;
            padding: 5px 30px;
            
            .active{
                color: white;
            }
        }
    }

}

