<div class="container">
    <section class="card">
        <h2> Product Table </h2>
        <div class="product">
            <table class="table clickable mt-3">
                <thead>
                    <tr>
                        <th>Sr. No</th>
                        <th>Product Id</th>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Rating</th>
                        <th>Avability</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr *ngFor="let productItem of myProducts; let i = index;"
                        (click)="onSelect(productItem)" TrackBy="trackByProductId">
                        <td>{{ i+1 }}</td>
                        <td>{{ productItem.id }}</td>
                        <td>{{ productItem.title | mytitlecase }}</td>
                        <td>{{ productItem.amount | currency: "INR" }}</td>
                        <td>{{ productItem.rating }}</td>
                        <td>{{ productItem.availability | boolenConverter }}</td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </section>
</div>