<aside class="d-flex flex-column">
        <h1>Angular Tasks</h1>
        <nav class="d-flex flex-column justify-content-between flex-grow">
                <ul>
                        <li class="d-flex"><a class="d-flex align-items-center flex-grow"  routerLink="databind" routerLinkActive="active"><i class='bx bx-network-chart'></i>
                                        <span>Data-Blinding </span> </a>
                        </li>
                        <li class="d-flex"><a class="d-flex align-items-center flex-grow"  routerLink="employee" routerLinkActive="active"><i class='bx bx-user'></i>
                                        <span> Users </span></a>
                        </li>
                        <li class="d-flex"><a class="d-flex align-items-center flex-grow"  routerLink="resume" routerLinkActive="active"><i class='bx bx-briefcase-alt-2'></i>
                                        <span>
                                                Resume-Builder</span></a></li>
                        <li class="d-flex"><a class="d-flex align-items-center flex-grow"  routerLink="user" routerLinkActive="active"><i class='bx bx-notepad'></i><span>
                                                Assessment
                                        </span></a></li>
                </ul>
                <ul class="logout">
                        <li class="d-flex"><a class="d-flex align-items-center flex-grow" ><i class='bx bx-exit'></i><span>Log out</span></a></li>
                </ul>
        </nav>
</aside>