aside{
    height: 100%;
    white-space: nowrap;
    position: relative;

    // Kevang's Code 
    // &:after {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     left: 0;
    // }
    
    h1{
        color: #2e56e5;
        display: flex;
        align-items: center;
        justify-content: right;
        height: 58px;
        padding-right: 10px;
        transition: 0.4s all;
    }
    
    nav{
        // padding-top: 50px;

        ul{
            border-top: 1px solid #d8d9db;
            border-bottom: 1px solid #d8d9db;
            list-style: none;
            li{
                a{
                    padding: 0 8px;
                    border-radius: 10px;
                    color: black;
                    text-decoration: none;
                    height: 35px;
                    margin: 5px 8px;
                    overflow: hidden;

                    .bx{
                        color: #bfc1c5;
                        font-size: 1.25rem;
                    }

                    span{
                        padding-left: 10px;
                        transition: 0.4s all;
                        font-size: 0.9rem;
                    }

                    &.active{
                        color: #2e56e5;
                        background-color: #eaedfc;

                        .bx{
                            color: #2e56e5;
                        }
                    }
                }
            }
        }
    }
}

.menu{
    overflow: auto;
    padding: 30px 0;
}

@media screen and (max-width:576px){
    
}