<aside class="d-flex flex-column">
        <h1>Angular Tasks</h1>
        <nav class="d-flex flex-column justify-content-between flex-grow">
                <ul class="menu" >
                        <li class="d-flex"><a class="d-flex align-items-center flex-grow" (click)="menu()"  routerLink="databind" routerLinkActive="active"><i class='bx bx-network-chart'></i>
                                        <span>Data-Blinding </span> </a>
                        </li>
                        <li class="d-flex"><a class="d-flex align-items-center flex-grow" (click)="menu()"  routerLink="employee" routerLinkActive="active"><i class='bx bx-user'></i>
                                        <span> Users </span></a>
                        </li>
                        <li class="d-flex"><a class="d-flex align-items-center flex-grow" (click)="menu()" routerLink="resume" routerLinkActive="active"><i class='bx bx-briefcase-alt-2'></i>
                                        <span>
                                                Resume-Builder</span></a></li>
                        <li class="d-flex"><a class="d-flex align-items-center flex-grow" (click)="menu()" routerLink="user" routerLinkActive="active"><i class='bx bx-notepad'></i><span>
                                                Assessment
                                        </span></a></li>
                        <li class="d-flex"><a class="d-flex align-items-center flex-grow" (click)="menu()" routerLink="jsdemo" routerLinkActive="active"><i class='bx bxs-file-js'></i><span>
                                                JS Demo
                                        </span></a></li>
                        <li class="d-flex"><a class="d-flex align-items-center flex-grow" (click)="menu()" routerLink="template" routerLinkActive="active"><i class='bx bx-copy-alt'></i><span>
                                                Template Ref
                                        </span></a></li>
                </ul>
                <ul class="logout">
                        <li class="d-flex"><a class="d-flex align-items-center flex-grow" ><i class='bx bx-exit'></i><span>Log out</span></a></li>
                </ul>
        </nav>
</aside>