<aside>
        <h1>Angular Tasks</h1>
        <nav>
                <ul>
                        <li><a routerLink="databind" routerLinkActive="active"><i class='bx bx-network-chart'></i>
                                        <span>Data-Blinding </span></a>
                        </li>
                        <li><a routerLink="employee" routerLinkActive="active"><i class='bx bx-user'></i>
                                        <span> Users </span></a>
                        </li>
                        <li><a routerLink="resume" routerLinkActive="active"><i class='bx bx-briefcase-alt-2'></i>
                                        <span>
                                                Resume-Builder</span></a></li>
                        <li><a routerLink="user" routerLinkActive="active"><i class='bx bx-notepad'></i><span>
                                                Assessment
                                        </span></a></li>
                </ul>
                <ul class="logout">
                        <li><a><i class='bx bx-exit'></i><span>Log out</span></a></li>
                </ul>
        </nav>
</aside>