:host{
    display: flex;
    flex-direction: column;
    flex: 0 0 250px;
    text-align: right;
    left: -250px;
}

h1{
    color: #2e56e5;
    font-size: 1.25rem;
    padding: 15px 10px;
    border-bottom: 1px solid #f0f2f5;
    text-align: left;
}

ul{
    padding: 50px 0;
    list-style: none;
    text-align: left;
    border-bottom: 1px solid #f0f2f5;
    
    li{
        display: flex;
        
        a{
            border-radius: 10px;
            text-decoration: none;
            color: black;
            display: flex;
            align-items: center;
            flex-grow: 1;
            margin: 10px;
            padding: 10px;

            .bx{
                padding: 0 10px;
                transform: scale(1.2,1.2);
            }

            &.active{
                background-color: #eaedfc;
                color: #2e56e5;
            }
        }

    }
}