<section>
    <!-- Start: Navigation Bar -->
    <nav>
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#services">Services</a>
        <a href="#contact">Contact Us</a>
        <a href="#login"><button>Log in</button></a>
    </nav>
    <!-- End: Navigation Bar -->


    <a href="#"><img src="/assets/images/pirate.jpg" alt="" style="width: 750px; height: 350px;"></a>

    <!-- Start: List Type -->
    <ol class="ordered">
        <li> Rahul </li>
        <li> Viral </li>
    </ol>

    <ul class="unordered">
        <li> Rahul </li>
        <li> Viral </li>
    </ul>
    <!-- End: List type -->

    <!-- paragraph Section  -->
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae quas molestias, incidunt soluta quaerat,
        exercitationem error necessitatibus <i> This is i</i> dicta perferendis placeat ipsum! Molestias commodi dolore
        officia numquam
        aperiam odio iusto amet non maiores sapiente eum mollitia quibusdam, suscipit fugit impedit eligendi magni, nam
        reprehenderit facere labore? Recusandae, <b> This is b </b> perferendis itaque expedita neque tenetur rerum <br>
        dolor fugiat totam
        corporis, autem asperiores quos pariatur voluptatibus laboriosam ducimus a est iusto quod libero animi amet
        labore? Eveniet ipsa eligendi fuga deleniti veritatis delectus nam sapiente?
    </p>

</section>