:host{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #f7f8fa;
    overflow: auto;
}

form{
    width: 50%;
    margin: 30px auto;
    background-color: white;
    padding: 30px 5%;
    border: 1px solid #d8d9db;

    h2{
        color: #2e56e5;
    }

    .space{
        padding: 20px 0;

        label{
            color: #b8b9bd;
        }
        
        p{
            display: flex;
            flex-direction: column;
            margin: 5px 0;
        }
    }
}
input{
    padding: 5px 10px;
    border: 1px solid #b8b9bd;
}

span{
    color: red;
}

input.ng-touched.ng-invalid{
    border: 1px solid red;
}

input[type=text]:focus{
    background-color: #eaedfc;
}

button{
    background-color: #2e56e5;
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 3px;
}

.cancel{
    background-color: #ff3300;
}