:host{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #212121;
    padding: 70px;
}

form{
    overflow: auto;
    border: 3px solid #ffbb00;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    flex-grow: 1;
    padding: 30px;
    color: white;
    background-color: #313131;

    h2{
        color: #ffbb00;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    .space{
        // border: 1px solid red;
        display: flex;
        margin: 0 200px;
        padding: 20px 0px;
        justify-content: space-between;

        

        p{
            display: flex;
            flex-direction: column;

            input{
                width: 300px;
                background-color: #414141;
                padding: 5px 0;
                color: white;

                &.ng-touched.ng-invalid{
                    border: 1px solid red;
                }

            }
            span{
                padding: 10px 0;
                color: red;
            }

        }
        div{
            width: 40%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    button{
        border: none;
        background-color: #ffbb00;
        color: black;
        border-radius: 3px;
        padding: 5px 10px;
        font-weight: 600;
    }

}
