:host{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #f7f8fa;
    padding: 70px;
}

form{
    overflow: auto;
    border: 1px solid #f0f2f5;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    flex-grow: 1;
    padding: 30px;
    color: black;
    background-color: white;

    h2{
        color: #2e56e5;
        margin: 0 auto;
        padding-bottom: 50px;   
    }

    .space{
        // border: 1px solid red;
        display: flex;
        margin: 0 200px;
        padding: 20px 0px;
        justify-content: space-between;

        

        p{
            display: flex;
            flex-direction: column;

            input{
                width: 300px;
                padding: 5px 10px;
                color: black;
                border: 1px solid #e3e4e6;
                border-radius: 10px;

                &.ng-touched.ng-invalid{
                    border: 1px solid red;
                }

            }
            span{
                padding: 10px 0;
                color: red;
            }

        }
        div{
            width: 40%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        label{
            color: gray;
        }
    }

    button{
        border: none;
        background-color: #2e56e5;
        color: white;
        border-radius: 5px;
        padding: 10px 15px;
    }

}
