<h2>Currency Table</h2>
<table>
    <thead>
        <tr>
            <th> Currency </th>
            <th> Code </th>
            <th> Symbol </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Indian rupee</td>
            <td>INR</td>
            <td>{{price|currency:'INR'}}</td>
        </tr>
        <tr>
            <td>Pounds</td>
            <td>GBP</td>
            <td>{{price|currency:'GBP'}}</td>
        </tr>
        <tr>
            <td>Japanese yen</td>
            <td>JPY</td>
            <td>{{price|currency:'JPY'}}</td>
        </tr>
        <tr>
            <td>Euro</td>
            <td>EUR</td>
            <td>{{price|currency:'EUR'}}</td>
        </tr>
        <tr>
            <td>US dollar</td>
            <td>USD</td>
            <td>{{price|currency:'USD'}}</td>
        </tr>
        <tr>
            <td>South Korean won</td>
            <td>KRW</td>
            <td>{{price|currency:'KRW'}}</td>
        </tr>
        <tr>
            <td>Indonesian rupiah</td>
            <td>IDR</td>
            <td>{{price|currency:'IDR'}}</td>
        </tr>
        <tr>
            <td>Vietnamese dong</td>
            <td>VND</td>
            <td>{{price|currency:'VND'}}</td>
        </tr>
        <tr>
            <td>Chinese yuan</td>
            <td>CNY</td>
            <td>{{price|currency:'CNY'}}</td>
        </tr>
        <tr>
            <td>Philippine peso</td>
            <td>PHP</td>
            <td>{{price|currency:'PHP'}}</td>
        </tr>
    </tbody>
</table>