:host{
    display: flex;
    flex-grow: 1;
    overflow: auto;
    background-color: #eff8ff;
}

section{
    width: 100%;
    padding: 50px;
}

form{
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.space{
    display: flex;
    justify-content: space-between;
    width: 600px;
    padding: 30px 0;
}

p{
    display: flex;
    padding: 5px 0;
    flex-direction: column;
}

label{
    padding: 0 10px;
    font-weight: 600;
    color: #63a2d8;
}

input{
    width: 250px;
    border: 1px solid #63a2d8;
    border-radius: 2px;
    padding: 3px 10px;
}

input.ng-touched.ng-invalid{
    border: 1px solid red;
}

#sub{
    background-color: #0064d2;
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
    border: none;
    font-weight: 600;
}

span{
    color: red;
}
