<section>
    <form [formGroup]="useradd" (ngSubmit)="final()">

        <div class="space">
            <label for="fname"> First Name : </label>
            <p>
                <input type="text" name="fname" id="fname" formControlName="firstname">
                <span *ngIf="useradd.get('firstname')?.touched && useradd.get('firstname')?.hasError('required')"> Enter Firstname </span>
            </p>
        </div>

        <div class="space">
            <label for="lname"> Last Name : </label>
            <p>
                <input type="text" name="lname" id="lname" formControlName="lastname">
                <span *ngIf="useradd.get('lastname')?.touched && useradd.get('lastname')?.hasError('required')"> Enter Lastname </span>
            </p>
        </div>

        <div class="space">
            <label for="num"> Phone Number : </label>
            <p>
                <input type="number" name="num" id="num" formControlName="phone">
                <span *ngIf="useradd.get('phone')?.touched && useradd.get('phone')?.hasError('required')"> Enter Phone Number </span>
            </p>
        </div>

        <div class="space">
            <label for="mail"> Email : </label>
            <p>
                <input type="email" name="mail" id="mail" formControlName="elemail">
                <span *ngIf="useradd.get('elemail')?.touched && useradd.get('elemail')?.hasError('required')"> Enter your Email Address</span>
                <span *ngIf="useradd.get('elemail')?.touched && useradd.get('elemail')?.hasError('email')"> Enter valid Email Address</span>
            </p>
        </div>


        <input type="submit" value="Submit" [disabled]="!useradd.valid">
        <input type="reset" value="Reset">

    </form>
</section>

<section>
    <p> {{ namebol }} </p>
</section>