<section>
   <form [formGroup]="useradd" (ngSubmit)="final()">
      <div class="space">
         <label for="fname"> First Name :- </label>
         <p>
            <input type="text" name="fname" id="fname" formControlName='firstname'>
            <span *ngIf="this.useradd.get('firstname')?.hasError('required') && this.useradd.get('firstname')?.dirty"> This is required. Bharni </span>
            <span *ngIf="this.useradd.get('firstname')?.hasError('minlength')"> Enter Minimum 5 Characters  </span>
         </p>
      </div>
      <div class="space">
         <label for="lname"> Last Name :- </label>
         <p>
            <input type="text" name="lname" id="lname" formControlName='lastname'>
         </p>
      </div>
      <div class="space">
         <label for="Number"> Phone Number :- </label>
         <p>
            <input type="text" name="num" id="num" formControlName='phone'>
         </p>
      </div>
      <div class="space">
         <label for="mail"> Email :- </label>
         <p>
            <input type="email" name="mail" id="mail" formControlName='elemail'>
         </p>
      </div>
      <div class="space">
         <label for="gender" formControlName='gender' > Gender :- </label>
         <p class="radio">
            <input type="radio" name="gender" id="male" value="male">
            <label for="male"> Male </label>
            <input type="radio" name="gender" id="female" value="female">
            <label for="female"> Female </label>
         </p>
      </div>
      <input type="submit" value="Submit" [disabled]="!useradd.valid" >
   </form>
</section>