:host{
    display: flex;
    flex-grow: 1;
}

section{
    width: 100%;
    padding: 50px;
}

form{
    padding: 30px;
    background-color: #dadada;
    border-radius: 10px;
}

p{
    margin: 50px 0;
}

label{
    padding: 0 10px;
}

.sub{
    background-color: aqua;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: 600;
    padding: 5px 10px;
    margin: 0 30px;
}
.requi{
    color: red;
    padding: 0 30px;
}