.container{
    overflow: auto;
    padding: 50px 0;
    height: 100%;

    form{
        background-color: white;
        padding: 20px 0;
        width: 40%;
        margin: 0 auto;
        border: 1px solid #d8d9db;
        border-radius: 5px;

        h2{
            text-align: center;
            font-size: 2.25rem;
        }
        
        .space{
            display: flex;
            flex-direction: column;
            padding: 20px 8%;

            input{
                border: 1px solid #c7c9cc;
                padding: 5px 10px;
                border-radius: 3px;
                width: 100%;
            }
            
            span{
                padding: 5px 0;
                color: red;
            }
        }
        .gender{
            padding: 20px 8%;
            width: 50%;
            min-width: 220px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .wrap{
            display: flex;
            flex-wrap: wrap;
            padding: 20px 8%;
            justify-content: space-between;
            
            .field{
                width: 45%;
                flex-direction: column;
                display: flex;
            }
        }

        .check{
            padding: 0px 8%;
        }

        .btn{
            padding: 20px 0;
            text-align: center;

            .button{
                background-color: white;
                padding: 10px;
                margin: 0 10px;
                border-radius: 10px;
                font-size: 1.25rem;
                cursor: pointer;
            }
        }
        
    }
}

select{
    border: 1px solid #c7c9cc;
    padding: 5px 10px;
    border-radius: 3px;
    width: 100%;
}

.sub{
    color: blue;
    border: 1px solid blue;
}

.clear{
    color: red;
    border: 1px solid red;
}

input{
    border: 1px solid #c7c9cc;
    padding: 5px 10px;
    border-radius: 3px;
    width: 100%;    
}


.check{
    display: flex;
    align-items: center;
    input{
        border: 1px solid red;
        width: 5%;
    }
}

@media screen and (max-width:768px){
    
    .container{
        form{
            width: 70%;
        }
    }

}

@media screen and (max-width:576px){

    .container{
        form{
            width: 100%;
            // background-color: ;
            border: none;

            h2{
                font-size: 1.25rem;
            }
        }
    }
    label{
        font-size: 0.8rem;
    }

    .button{
        font-size: 1rem;
    }
    
}