:host{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    background-color: #f7f8fa;
}

section{    
    width: 800px;
    background-color: #f5f5f5;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    padding: 30px;
    margin: auto;
}

h3 {
    font-size: 1.2rem;
    margin: 0;
}

table {
    width: 100%;
    border-bottom: 1px solid #dddddd;
    padding: 10px 0;
    text-align: left;
}